.mat-card-avatar {
  background-size: cover;
  background-position: center;
  background-color: lightgray;
}

.mat-card-actions .mat-button,
.mat-card-actions .mat-raised-button,
.mat-card-actions .mat-stroked-button {
  margin: 8px!important;
}
