<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <button mat-button color="accent" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon> Menu
    </button>
    <mat-nav-list>
      <a mat-list-item (click)="sidenav.toggle()" routerLink="./list">
        <mat-icon mat-list-icon> label </mat-icon>
        <span>
          Listado de Heroes
        </span>
      </a>
      <a mat-list-item (click)="sidenav.toggle()" routerLink="./search">
        <mat-icon mat-list-icon> search </mat-icon>
        <span>
          Buscar Heroe
        </span>
      </a>
      <a mat-list-item (click)="sidenav.toggle()" routerLink="./add">
        <mat-icon mat-list-icon> add </mat-icon>
        <span>
          Añadir Heroe
        </span>
      </a>
      <a mat-list-item (click)="sidenav.toggle()">
        <span>

        </span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar class="toolbar-position">
    <div>
      <button mat-raised-button color="primary" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon> Menu
      </button>
    </div>
    <div>
      <span *ngIf="usuario">
        <mat-icon>account_circle</mat-icon>
        {{ usuario?.name }}
      </span>
      <button (click)="logout()" mat-raised-button color="warn">
        <mat-icon>logout</mat-icon> Logout
      </button>
    </div>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>

</mat-sidenav-container>
