<div class="row py-5 px-2">
  <h2>Validaciones Reactivas</h2>
  <hr>
  <div class="col">

    <form autocomplete="off"
    [formGroup]="miForm"
    (ngSubmit)="submitFormulario()">

      <!-- Nombre -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre del usuario">

          <span class="form-text text-danger" *ngIf="campoNoValido('nombre')">
            Debe de ser en formato de nombre y apellido
          </span>
        </div>
      </div>

      <!-- Email -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Email</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" formControlName="email" placeholder="Email del usuario">
          <span class="form-text text-danger" *ngIf="campoNoValido('email')">
            {{ emailErrorMsg }}
          </span>
        </div>
      </div>

      <!-- Username -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Username</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="username" placeholder="Nombre código del usuario">
          <span class="form-text text-danger" *ngIf="campoNoValido('username')">
            El username no puede ser Strider
          </span>
        </div>
      </div>

      <!-- Password -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Password</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" formControlName="password" placeholder="Password de su cuenta">

          <span class="form-text text-danger" *ngIf="campoNoValido('password')">
            La contraseña debe de ser mayor de 6 caracteres.
          </span>
        </div>
      </div>

      <!-- Password2 -->
      <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Confirmar</label>
        <div class="col-sm-9">
          <input type="password" class="form-control" formControlName="password2" placeholder="Confirmar la contraseña">

          <span class="form-text text-danger" *ngIf="campoNoValido('password2')">
            Las contraseñas deben de ser iguales
          </span>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <button class="btn btn-primary float-end" [disabled]="miForm.pending" type="submit">
            Crear
          </button>
        </div>
      </div>


    </form>
  </div>
</div>
<div class="row">
  <div class="col">

    <p><b>Form Valid:</b> {{ miForm.valid }}</p>
    <p><b>Form Status:</b> {{ miForm.status }}</p>
    <p><b>Form Pending:</b> {{ miForm.pending }}</p>
    <p><b>Form errors</b></p>
    <pre>{{ miForm.errors | json }}</pre>
    <br>
    <h5>Nombre</h5>
    <pre>{{ miForm.controls['nombre'].errors | json }}</pre>

    <h5>Email</h5>
    <pre>{{ miForm.controls['email'].errors | json }}</pre>

    <h5>Username</h5>
    <pre>{{ miForm.controls['username'].errors | json }}</pre>


    <h5>Password</h5>
    <pre>{{ miForm.controls['password'].errors | json }}</pre>

    <h5>Confirmar</h5>
    <pre>{{ miForm.controls['password2'].errors | json }}</pre>
  </div>
</div>
