<div class="row">
  <div class="col">
    <ul class="list-group suggestion-dropdown">
      <li class="list-group-item list-group-item-action">
        <a class="nav-link" (click)="search()">
          Buscar "{{ term }}"
        </a>
      </li>
      <li *ngFor="let country of dataSuggestion" class="list-group-item list-group-item-action">
        <a class="nav-link" [routerLink]="['/by-country',country.cca2]" >
          {{ country.name.official }}
        </a>
      </li>
     </ul>
  </div>
</div>
