<nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Second navbar example">
  <div class="container">
    <a class="navbar-brand">Dashboard</a>
    <div class="text-white">
      <span class="pr-5"> {{ usuario.name }} </span>
      <button class="btn btn-outline-danger" (click)="logout()">Logout</button>
    </div>
  </div>
</nav>
<div class="container py-5">

  <h1>Dashboard</h1>
  <hr>
  <p>
    Esta pagina solo funciona si estoy autenticado
  </p>
  <h4>User Info</h4>
  <pre>{{ usuario | json }}</pre>
  <button  class="btn btn-danger" (click)="logout()">
    Logout
  </button>
</div>
