<h1>Gráfica de Barras</h1>
<hr>

<div class="row">
    <div class="col">

        <div style="display: block">
            <canvas baseChart
                    [data]="barChartData"
                    [options]="barChartOptions"
                    [plugins]="barChartPlugins"
                    [type]="barChartType">
            </canvas>
        </div>

        <button (click)="randomize(0)"
                class="btn btn-primary m-1">
            Actualizar Serie A
        </button>

        <button (click)="randomize(1)"
                class="btn btn-primary m-1">
            Actualizar Serie B
        </button>

        <button (click)="randomize(2)"
                class="btn btn-primary m-1">
            Actualizar Serie C
        </button>

    </div>
</div>

