<h4>Busquedas</h4>
<hr>
<ul class="list-group">
  <li routerLink="by-country" routerLinkActive="active" class="list-group-item">
    <i class="bi bi-flag"></i> Por país
  </li>
  <li routerLink="by-capital" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item">
    <i class="bi bi-geo"></i> Por capital
  </li>
  <li routerLink="by-region" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item">
    <i class="bi bi-geo-alt"></i> Por region
  </li>
</ul>
