<h2>{{ titleSection }}</h2>
<hr>
<div class="row">
  <div class="col">
    <form (ngSubmit)="buscar()" autocomplete="off">
      <input class="form-control" type="text" name="termino" [(ngModel)]="termino" placeholder="Buscar pais">
    </form>
  </div>
</div>
<hr>

<div class="row" *ngIf="isError">
  <div class="col">
    <div class="alert alert-danger">
      {{ messageError }}
    </div>
  </div>
</div>

<div class="row" *ngIf="!isError">
  <div class="col">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>Bandera</th>
          <th>Nombre</th>
          <th>Población</th>
          <th>Ver detalle</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let country of data; let i = index">
          <td>{{ i + 1 }}</td>
          <td><img class="flag-small" src="{{ country.flags.png }}" alt="{{ country.name }}"></td>
          <td>{{ country.name }}</td>
          <td>{{ country.population | number }}</td>
          <td>
            <a
              [routerLink]="['/by-country',country.alpha2Code]"
              routerLinkActive="active"
              class="btn btn-primary"
            >
              Ver detalle
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
