<div  class="animate__animated animate__fadeIn animate__faster">
  <h4><i class="bi bi-flag-fill"></i> {{ titleSection }}</h4>
  <hr>
  <div class="row">
    <div class="col-12">
      <app-country-input
        [placeholder]="placeholder"
        (onSubmit)="search( $event )"
        (onDebounce)="suggestions( $event )"
      ></app-country-input>
    </div>
  </div>

  <app-countries-suggestion
    *ngIf="showSuggestion"
    [dataSuggestion]="dataSuggestion"
    [term]="term"
    (onSearch)="search( $event )"
  ></app-countries-suggestion>

  <div class="row" *ngIf="isError">
    <div class="col-12 py-2">
      <div class="alert alert-danger">
        {{ messageError }}
      </div>
    </div>
  </div>

  <div class="row" *ngIf="!isError && data.length > 0">
    <div class="col-12 py-3">
      <app-countries-table [data]="data"></app-countries-table>
    </div>
  </div>
</div>
