<!-- <div class="text-layout">
  <h1>{{ name | titlecase }}</h1>
  <h1>{{ age | number }}</h1>
  <button pButton class="p-button-help" type="button" icon="pi pi-check" iconPos="right" label="Mostrar Datos" (click)="showInfo()"></button>
</div>

<p-card
  [header]="name | titlecase"
  subheader="Subheader Card">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, tempore! Ipsum harum aspernatur nam incidunt sed autem quas culpa, iure est, consequuntur vel cum impedit, iste veniam quo ullam? Deserunt dolor dolores veritatis quidem iste ullam minus architecto ducimus debitis, error quas soluta asperiores minima recusandae in magnam ipsa non nostrum temporibus dolore voluptatum modi. Minus quaerat pariatur aliquid! Ducimus quia rem minima distinctio officia nemo non voluptas odit quos sapiente reprehenderit soluta architecto nostrum quam tenetur, reiciendis odio facilis eos. Omnis, itaque, qui odit nihil quidem debitis deleniti dolore voluptatibus, eius sed eaque totam! Nisi odit reprehenderit, ducimus repellendus esse voluptatum deserunt qui culpa quidem consectetur perferendis molestias, quaerat velit ab eligendi neque quibusdam ut iusto quas commodi? Aperiam voluptatibus minus, quidem amet autem dignissimos. Aliquam, officiis nemo.
</p-card> -->
<app-menu></app-menu>
