<div class="row">
  <div class="col">
    <h1>Pokemon app</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col">
    <ul>
      <li>Bulbasur - N.º 001 </li>
      <li>Charmander - N.º 004</li>
      <li>Squirtle - N.º 007</li>
      <li>Caterpie - N.º 0010</li>
    </ul>
  </div>

  <div class="col">
    <h3>Agregar Pokemon</h3>
    <hr>
    <form>
      <input type="text" placeholder="name">
      <input type="number" placeholder="number">
      <button>Agregar</button>
    </form>
  </div>
</div>
