<div class="row">
  <div class="col">
    <h1>Pokedex</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col">
    <!-- <h3>Pokemons</h3>
    <hr>
    <ul>
      <li *ngFor="let pokemon of pokemons">{{ pokemon.name | titlecase }} - N.º {{ pokemon.number | number }} </li>
    </ul> -->
    <app-pokemon-list [data]="pokemons"></app-pokemon-list>
  </div>

  <div class="col">
    <app-add-pokemon [pokemonNew]="pokemonNew" [pokemons]="pokemons" ></app-add-pokemon>
    <!-- <h3>Agregar Pokemon <small>{{pokemonNew.name}}</small></h3>
    <hr>
    <form (ngSubmit)="agregar()">
      <input
        type="text"
        placeholder="name"
        name="name"
        [(ngModel)]="pokemonNew.name"
      >
      <input
        type="number"
        placeholder="number"
        name="number"
        [(ngModel)]="pokemonNew.number"
      >
      <button type="submit">Agregar</button>
    </form> -->
  </div>
</div>
