<div class="d-flex">
  <div class="bg-dark border-rigth text-white p-3" id="sidebar">
    <h3>Gifs App</h3>
    <hr>
    <!-- Start Sidebar -->
    <div class="list-group list-reset">
      <a class="list-group-item list-group-item-action" href="#">
        Dashboard
      </a>
      <a class="list-group-item list-group-item-action" href="#">
        Imagenes
      </a>
    </div>
    <!-- End Sidebar -->
  </div>
  <div class="container">
    <!-- Start Search -->
    <div class="row p-3">
      <div class="col">
        <h5>Buscar</h5>
        <input type="text" class="form-control" placeholder="Buscar gifs">
        <hr>
      </div>
    </div>
    <!-- End Search -->
    <!-- Start List -->
    <div class="row px-3">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi officia dolore iure eveniet, tempora atque aperiam ad ipsam dolores a inventore impedit doloremque! Quos alias eveniet quae dolor tempora quod.
      </p>
    </div>
    <!-- End List -->
  </div>
</div>
